################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GrandMaster/obj
/GrandMaster/SunriseSunset/SunriseSunset/bin/Debug
/GrandMaster/SunriseSunset/SunriseSunset/obj
/GrandMaster/obj
/GrandMaster/SunriseSunset/SunriseSunset/bin/Debug
/GrandMaster/FormTextUtils/FormTextUtils/bin/Debug
/GrandMaster/FormTextUtils/FormTextUtils/obj/Debug
/GrandMaster/bin/Debug
/GrandMaster/Mandelbrot/Mandelbrot/bin/Debug
/GrandMaster/Mandelbrot/Mandelbrot/obj/Debug
/GrandMaster/Mandelbrot/Mandelbrot/bin/Release
/GrandMaster/Mandelbrot/Mandelbrot/obj/Release
/GrandMaster/FormTextUtils/FormTextUtils/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/GrandMaster/GPS/GPS/bin/Debug
/GrandMaster/GPS/GPS/obj
/GrandMaster/GPS/GPS/gps.png
/GrandMaster/GPS/GPS/gps2.png
/GrandMaster/GPS/GPS/bin/Release
/GrandMaster/ChangeColours/ChangeColours/bin
/GrandMaster/ChangeColours/ChangeColours/obj
/GrandMaster/ChangeColours/ChangeColours/Strawberry Vanilla.jpg
/GrandMaster/ChangeColours/ChangeColours/ChangeColours.png
/GrandMaster/ChangeColours/1.pdf
/GrandMaster/ChangeColours/ChangeColours/star.png
/GrandMaster/ChangeColours/ChangeColours/star2.bmp
/GrandMaster/ChangeColours/ChangeColours/star2.png
/GrandMaster/ChangeColours/ChangeColours/ColourChanger.ico
/GrandMaster/ChangeColours/ChangeColours/rgb.bmp
/GrandMaster/ChangeColours/ChangeColours/rgb.png
/GrandMaster/ChangeColours/ChangeColours/rgb2.bmp
/GrandMaster/ChangeColours/ChangeColours/rgb2.png
/GrandMaster/ChangeColours/133.docx
/GrandMaster/ChangeColours/~$133.docx
/GrandMaster/ChangeColours/colours/outputs
/GrandMaster/ChangeColours/colours/outputs
/GrandMaster/ChangeColours/colours/outputs/red@0_5.bmp
/GrandMaster/ChangeColours/rgb2.jpg
/GrandMaster/ChangeColours/~WRL0003.tmp
/GrandMaster/ChangeColours/colours
/GrandMaster/dataEncryption/bin
/GrandMaster/dataEncryption/images/0059.png
/GrandMaster/dataEncryption/images/0058.png
/GrandMaster/dataEncryption/images/0057.png
/GrandMaster/dataEncryption/images/0056.png
/GrandMaster/dataEncryption/images/0055.png
/GrandMaster/dataEncryption/images/0054.png
/GrandMaster/dataEncryption/images/0053.png
/GrandMaster/dataEncryption/images/0052.png
/GrandMaster/dataEncryption/images/0051.png
/GrandMaster/dataEncryption/images/0050.png
/GrandMaster/dataEncryption/images/0049.png
/GrandMaster/dataEncryption/images/0048.png
/GrandMaster/dataEncryption/images/0047.png
/GrandMaster/dataEncryption/images/0046.png
/GrandMaster/dataEncryption/images/0045.png
/GrandMaster/dataEncryption/images/0044.png
/GrandMaster/dataEncryption/images/0043.png
/GrandMaster/dataEncryption/images/0042.png
/GrandMaster/dataEncryption/images/0041.png
/GrandMaster/dataEncryption/images/0040.png
/GrandMaster/dataEncryption/images/0039.png
/GrandMaster/dataEncryption/images/0038.png
/GrandMaster/dataEncryption/images/0037.png
/GrandMaster/dataEncryption/images/0036.png
/GrandMaster/dataEncryption/images/0035.png
/GrandMaster/dataEncryption/images/0034.png
/GrandMaster/dataEncryption/images/0033.png
/GrandMaster/dataEncryption/images/0032.png
/GrandMaster/dataEncryption/images/0031.png
/GrandMaster/dataEncryption/images/0030.png
/GrandMaster/dataEncryption/images/0029.png
/GrandMaster/dataEncryption/images/0028.png
/GrandMaster/dataEncryption/images/0027.png
/GrandMaster/dataEncryption/images/0026.png
/GrandMaster/dataEncryption/images/0025.png
/GrandMaster/dataEncryption/images/0024.png
/GrandMaster/dataEncryption/images/0023.png
/GrandMaster/dataEncryption/images/0022.png
/GrandMaster/dataEncryption/images/0021.png
/GrandMaster/dataEncryption/images/0020.png
/GrandMaster/dataEncryption/images/0019.png
/GrandMaster/dataEncryption/images/0018.png
/GrandMaster/dataEncryption/images/0017.png
/GrandMaster/dataEncryption/images/0016.png
/GrandMaster/dataEncryption/images/0015.png
/GrandMaster/dataEncryption/images/0014.png
/GrandMaster/dataEncryption/images/0013.png
/GrandMaster/dataEncryption/images/0012.png
/GrandMaster/dataEncryption/images/0011.png
/GrandMaster/dataEncryption/images/0010.png
/GrandMaster/dataEncryption/images/0009.png
/GrandMaster/dataEncryption/images/0008.png
/GrandMaster/dataEncryption/images/0007.png
/GrandMaster/dataEncryption/images/0006.png
/GrandMaster/dataEncryption/images/0005.png
/GrandMaster/dataEncryption/images/0004.png
/GrandMaster/dataEncryption/images/0003.png
/GrandMaster/dataEncryption/images/0002.png
/GrandMaster/dataEncryption/images/0001.png
/GrandMaster/dataEncryption/obj
/GrandMaster/dataEncryption/icon.jpg
