################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GrandMaster/obj
/GrandMaster/SunriseSunset/SunriseSunset/bin/Debug
/GrandMaster/SunriseSunset/SunriseSunset/obj
/GrandMaster/obj
/GrandMaster/SunriseSunset/SunriseSunset/bin/Debug
/GrandMaster/FormTextUtils/FormTextUtils/bin/Debug
/GrandMaster/FormTextUtils/FormTextUtils/obj/Debug
/GrandMaster/bin/Debug
/GrandMaster/Mandelbrot/Mandelbrot/bin/Debug
/GrandMaster/Mandelbrot/Mandelbrot/obj/Debug
/GrandMaster/Mandelbrot/Mandelbrot/bin/Release
/GrandMaster/Mandelbrot/Mandelbrot/obj/Release
/GrandMaster/FormTextUtils/FormTextUtils/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/GrandMaster/GPS/GPS/bin/Debug
/GrandMaster/GPS/GPS/obj
/GrandMaster/GPS/GPS/gps.png
/GrandMaster/GPS/GPS/gps2.png
/GrandMaster/GPS/GPS/bin/Release
/GrandMaster/ChangeColours/ChangeColours/bin
/GrandMaster/ChangeColours/ChangeColours/obj
/GrandMaster/ChangeColours/ChangeColours/Strawberry Vanilla.jpg
/GrandMaster/ChangeColours/ChangeColours/ChangeColours.png
/GrandMaster/ChangeColours/1.pdf
