################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GrandMaster/obj
/GrandMaster/SunriseSunset/SunriseSunset/bin/Debug
/GrandMaster/SunriseSunset/SunriseSunset/obj
/GrandMaster/obj
/GrandMaster/SunriseSunset/SunriseSunset/bin/Debug
